<html>
  <head>
    {% load static %}
      <link rel = "stylesheet" href ="{% static 'style.css' %}" >
  </head>

  <body>
    <div class="form">
      <div class ="rotate">
      <img src ="{% static 'WizTransparent.png' %}" height ="185" width ="195" alt ="BizWiz" >
      </div>
    <h1 class="title">Top Industries</h1>
      <div class ='industrygrid'>
        {% for industry in industries %}
          <div class ='griditem'>
              <a class = " button buttonhighlight buttonact buttontext " href="{% url 'industry' industry.id %}">{{industry.industry_name}}</a>
          </div>
        {% endfor %}
      </div>
  </div>
  </body>
  <footer>
    <div class = "foot">
      {% for tag in tag %}
         <a href ="{% url 'page_for_tags' tag.id %}">{{tag.tag_name}}</a>
      {% endfor %}
    </div>
  </footer>
</html>


    



   
