<a href="{% url 'home' %}">
  {% load static %}
  <img src="{% static 'Home.jpg' %}" height="85" width="80" alt="Home" . /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </a>
  {% load static %}
  <img src="{% static 'Wiz.jpg' %}" height="140" width="135" alt="BizWiz" />
  <center>
<h1>{{industry.industry_name}}</h1>
<br /><br /><br /><br />
    
  
      <h2>Questions
      </h2>
       <br /><br /><br /><br />
            <p>
            <ol>
             {% for questions in questions %}
            <li>
            <a href="{% url 'specific_question' industry.id questions.id %}">{{questions.question_text}}</a>
            </li>
             {% endfor %} 
            </ol> 
            </p>
            
              <br /><br /><br /><br />
  
  
              <form action="{% url 'industry' industry.id %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" name="save" value="Submit" />
  
               </form>
              
            </center>
              <a href="{% url 'home' %}">Go Back</a>