<a href="{% url 'home'%}">
{% load static %}
<img src="{% static 'Home.png' %}" alt="Home">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</a>

{% load static %}
<img src="{% static 'Wiz.png' %}" height="90" width="95" alt="BizWiz">

<center><h1> Industries related to {{tags.tag_name}}</h1></center>
  
<center>
   {% for industry in industry %} 
   <table>
      <tr>
        <td><a href="{% url 'industry' industry.id %}"> {{industry.industry_name}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </tr>
    </table> 
    {% endfor %}
  </center><br /><br /><br /><br />
  <a href="{% url 'home' %}">Go Back</a>
