<a href=type=>
{% load static %}
<img src="{% static 'Home.png' %}" alt="Home">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</a>

{% load static %}
<img src="{% static 'Wiz.png' %}" height="90" width="95" alt="BizWiz">


  <center>
    <h1>Tag Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10
    </h1>
    </center><br /><br /><br /><br />

  

    <center>
    <table>
        <tr>
          <td><a href=type=>Industry Namr</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </tr>
      </table> 
    </center><br /><br /><br /><br />

    <center>
      <table>
          <tr>
            <td><a href=type=>Industry Name</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           </tr>
        </table> 
      </center><br /><br /><br /><br />

      <center>
        <table>
            <tr>
              <td><a href=type=>Industry Namr</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </tr>
          </table> 
        </center><br /><br /><br /><br />
    
        <center>
          <table>
              <tr>
                <td><a href=type=>Industry Name</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               </tr>
            </table> 
          </center><br /><br /><br /><br />
