<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel= "stylesheet" href="{% static 'style.css' %}" >
        <div class="form" style=" line-height: 0%; height: 12rem;">
        <a>  
        <img src="{% static 'WizTransparent.png' %}" height="250" width="250" alt="BizWiz" />
        </a></div>
    </head>
    <body  style="transform: translate(0rem,-3rem) ;">
        <div class = "form" style="transform: translate(0rem,-2.5rem) ;">
        <h3 class = "form" style="transform: translate(0rem,2rem) ;">SignUp</h3>
       <div style="text-align: center; white-space: pre-line; margin-top: -4mm; line-height: 3.3mm;">
        <form method="POST" action="" >
            {% csrf_token %}
            {% for field in form %}
            {{field.label}}
            {{field }}
            {% endfor %}
            {{form.errors}}
            <input type="submit" name="Create User">
       </form>
       <div  class = "form" style="transform: translate(0rem,-1.5rem);line-height: 1mm;">
       <p> Already Have An Account ? </p>
        <a href="{% url 'signin' %}"> Sign In Here </a> 
    <div class="form">
        <div class= "row">
          <div class="rotate" style="transform: translate(1rem,-.4mm); margin-top: 0mm; margin-bottom: 0mm;">
            <a href ="https://twitter.com/BizWiz000 ">
              <img src ="{% static 'Twitter Logo.png' %}" height ="52" width ="54" alt ="Twitter" >
            </a>
          </div>
          <div class="rotate" style="transform: translate(0rem,1.5mm);">
            <a  href ="https://www.instagram.com/bizwiz111/">
             <img src ="{% static 'Instagram Logo.png' %}" height ="37" width ="39" alt ="Instagram" >
            </a>
          </div>
         <div class="rotate" style="transform: translate(-1rem,-1mm);">
            <a href ="https://www.facebook.com/profile.php?id=100081355037787 ">
             <img src ="{% static 'Facebook Logo.png' %}" height ="56" width ="55" alt ="Facebook" >
            </a>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </body>
</html>