  <html>
  <head>
    {% load static %}
    <link rel= "stylesheet" href="{% static 'style.css' %}" >
    <a class ="fix" href="{% url 'home' %}">
      <img src="{% static 'Home.png' %}" height="50" width="50" alt="Home" />
    </a>
    <img src="{% static 'WizTransparent.png' %}" height="140" width="135" alt="BizWiz" />
    <div style="text-align:right; transform: translate(0mm,-30mm); white-space: pre-line;">
      <span> Hello, {{request.user}} </span>
      <span> <a href="{% url 'signout'%}"> Log Out </a> </span>
    </div>
  </head>
<body>
    <h1  class= "form" > {{question.id}}. {{question.question_text}}</h1>
  
    <div class="questions">
  <ol div class="answergrid">
    {% for answer in answers %}
    <div class="griditem1 button3 ">
        <li class="buttontext3" > <a href="{% url 'updating_page' industry.id question.id answer.id %}">{{answer.answer_text}} </a>
        <p class="dateposted preview ">author: {{answer.user}} date posted: {{answer.dateposted}}</p></li>
    </div>
    {% endfor %}
  </ol> 
  </div>
</body>

<form action="{% url 'specific_question' industry.id question.id %}" method="POST">
  {% csrf_token %}
  {{ form }}
  <input type="submit" name="save" value="Submit" />

 </form>

<a class="form" href="{% url 'industry' industry.id %}"> Go Back</a>
</html>
         
   
  
           
