{% load static %}
<img src="{% static 'Home.png' %}" alt="Home">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


{% load static %}
<img src="{% static 'Wiz.png' %}" height="50" width="50" alt="BizWiz">


      
      <center>
          <h1>Question Clicked On Last Page:<br /><br />
              Question 10 <br /><br />
        
          </h1>
        
</center>
         
  <center>
          <form action="/url" method="GET">
       
            <input type="text" name="random_answ" placeholder="Random Answer" required>
             
        </form><br />
  </center>
        
  <center>
  <form action="/url" method="GET">
       
          <input type="text" name="random_answ" placeholder="Random Answer" required>
           
      </form><br />

    </center>
      
    <center>
    <form action="/url" method="GET">
       
        <input type="text" name="random_answ" placeholder="Random Answer" required>
         
    </form><br />
  </center>
    
  <center>
  <form action="/url" method="GET">
       
      <input type="text" name="random_answ" placeholder="Random Answer" required>
       
  </form><br />
</center>
  
<center>
<form action="/url" method="GET">
       
    <input type="text" name="random_answ" placeholder="Random Answer" required>
     
</form><br />
</center>

<center>
<form action="/url" method="GET">
       
  <input type="text" name="random_answ" placeholder="Random Answer" required>
   
</form><br />
</center>


<center>
  <table>

  
  <form action="/url" method="GET">
       
  <input type="text" name="random_answ" placeholder="Answer Just Given" required>
   
</form> 



<form action="">
 

  <input id="_delete" name="" type="hidden" value=""/>

  <button onclick="document.querySelector('#_delete').value = 'true'">Delete</button>
</form>

</table>

</center>

<label for="answer"><h2>Answer Here:</label>
  <input type="text" id="answer" name="answer" placeholder="Answer From The User">


        



         
   
  
           
