<a href="{% url 'home'%}">
{% load static %}
<img src="{% static 'Home.png' %}" alt="Home">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</a>

{% load static %}
<img src="{% static 'Wiz.png' %}" height="90" width="95" alt="BizWiz">


      
      <center>
          <h1>{{question.question_text}}<br /><br />
               <br /><br />
        
          </h1>
        
</center>
         
  <center><p>
          {% for answers in answer %}
          <a href="{% url 'specific_question' industry.id question.id answer.id %}">{{answer.answer_text}} </a>
          {% endfor %}
          </p>
  </center>
        
  



<form action="">
 

  <input id="_delete" name="" type="hidden" value=""/>

  <button onclick="document.querySelector('#_delete').value = 'true'">Delete</button>
</form>

</table>

</center>

<label for="answer"><h2>Answer Here:</label>
  <input type="text" id="answer" name="answer" placeholder="Answer From The User">


        



         
   
  
           
