<a href="{% url 'home' %}">
    {% load static %}
    <img src="{% static 'Home.jpg' %}" height="85" width="80" alt="Home" . /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </a>
    {% load static %}
    <img src="{% static 'Wiz.jpg' %}" height="140" width="135" alt="BizWiz" />
    
<center>
    <h1>Question {{question.id}}
        {{question.question_text}}<br />
    {{answer.answer_text}}<br />
    </h1>
    </center>

    <center>
    <form action="{% url 'updating_page' industry.id question.id answer.id %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" name="save" value="Save" />
        <input type="submit" name="delete" value="Delete" />
    </form>
    </center>

    <a href="{% url 'specific_question' industry.id question.id %}">Go Back</a>


