<a href="{% url 'home'%}">
{% load static %}
<img src="{% static 'Home.png' %}" alt="Home">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</a>

{% load static %}
<img src="{% static 'Wiz.png' %}" height="90" width="95" alt="BizWiz">


<center>
    <h1>{{question.question_text}}<br />
        Question {{question.id}}
    
    </h1>
    </center>

    <center>
    <form action="{% url 'updating_page' industry.id question.id answer.id %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" name="save" value="Save" />
        <input type="submit" name="delete" value="Delete" />
    </form>
    </center>

    <a href="{% url 'specific_question' industry.id question.id %}">Go Back</a>


