    <html>
        <head>
            <a href="{% url 'home' %}">
                {% load static %}
                <link rel= "stylesheet" href="{% static 'style.css' %}" >
                <a class = "fix form" href="{% url 'home' %}">
                <img src="{% static 'Home.png' %}" height="50" width="50" alt="Home" /> 
                </a>
                <img src="{% static 'WizTransparent.png' %}" height="140" width="135" alt="BizWiz" />
        </head>
        <body>
            <h1 style=" text-align: center; line-break: normal; white-space: wrap; overflow-wrap: break-word;">Question {{question.id}} {{question.question_text}}</h1>
            <h3 class="form"> {{answer.answer_text}}
            </h3>
        </body>
        <footer>
            <form action="{% url 'updating_page' industry.id question.id answer.id %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" name="save" value="Save" />
                <input type="submit" name="delete" value="Delete" />
            </form>
            
        
            <a href="{% url 'specific_question' industry.id question.id %}">Go Back</a>
        </footer>
    
    </html>
    