.title {
    font-size:35px ;
    text-align: center;
    text-decoration: none;
}
.form {
    text-align: center;
    text-decoration: none;

}
.industrygrid {
    display: grid;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: 100px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    margin-left: 0%;
    text-decoration: none;
}

.griditem {
    margin-top: auto;  
    margin-bottom: auto;
    text-decoration: none;
}

.preview {
    color: rgba(0, 0, 0, 0.5);
}

.list {
    list-style: lower-roman;
    color: black; 
    text-align: center;
    text-decoration: none;
}

.questions {
    display: grid;
    justify-content: center;
    margin-top: 2rem;
}
.button {
    border-radius: 8px;
    border-color: rgb(49, 135, 233);
    background-color: white;
    border-style:solid ;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: purple;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;
    width: 16rem;
    height: 4rem;
    text-decoration: none;
  }
  .buttonhighlight:hover {
    background-color: purple;
    border: none;
    text-emphasis-color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
  }

  .buttontext{
    text-decoration: none;
     color: black;
  }

  .foot{
      margin-top: 1rem;
      text-align: center;
      word-spacing: 4rem;
  }

/* *,*::before,*::after{
    box-sizing: border-box;
} */

 /* html,body{
    margin: 0px;
    padding: 5px;
}  */

/* h2.form::after{
    content: " ";
    display: block;
    border: 1px
} */
